4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
	
<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="films">
      <ion-icon name="film"></ion-icon>
      <ion-label>Films</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="people">
      <ion-icon name="people"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="planets">
      <ion-icon name="planet"></ion-icon>
      <ion-label>Planets</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>